.style-nav{
    background-color: blue !important;
}

.todo{
    display: flex;
    justify-content :center;
}
.des{
    margin-right: 20px;
}

.pad{
    margin-left: 1200px;
}
.pp{
    margin-left: 700px;
}